#jinja2: lstrip_blocks: "True"
[Unit]
Description=traccar server
After=traccar-postgres.service
Requires=docker.service

[Service]
# TODO		--user={{ traccar_user_uid }}:{{ traccar_user_gid }} \
#	TODO		-v /etc/passwd:/etc/passwd:ro \
Type=simple
ExecStartPre=-/usr/bin/docker stop traccar-server
ExecStartPre=-/usr/bin/docker rm traccar-server
ExecStart=/usr/bin/docker run --rm --name traccar-server \
			-v {{traccar_server_config_path}}/traccar.xml:/opt/traccar/conf/traccar.xml \
      -p 8080:8082 \
			-p 5000-5150:5000-5150 \
			-p 5000-5150:5000-5150/udp \
			--network={{ traccar_docker_network }} \
			{{ traccar_server_docker_image }}
ExecStop=-/usr/bin/docker stop traccar-server
ExecStop=-/usr/bin/docker rm traccar-server
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
