#jinja2: lstrip_blocks: "True"
[Unit]
Description=traccar Postgres server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop traccar-postgres
ExecStartPre=-/usr/bin/docker rm traccar-postgres
ExecStart=/usr/bin/docker run --rm --name traccar-postgres \
			--log-driver=none \
			--user={{ traccar_user_uid }}:{{ traccar_user_gid }} \
			--cap-drop=ALL \
			--read-only \
			--tmpfs=/tmp:rw,noexec,nosuid,size=100m \
			--tmpfs=/run/postgresql:rw,noexec,nosuid,size=100m \
			--network={{ traccar_docker_network }} \
			--env-file={{ traccar_postgres_base_path }}/env-postgres-server \
			-v {{ traccar_postgres_data_path }}:/var/lib/postgresql/data:rw \
			-v /etc/passwd:/etc/passwd:ro \
			{% for arg in traccar_postgres_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ traccar_postgres_docker_image_to_use }}
ExecStop=-/usr/bin/docker stop traccar-postgres
ExecStop=-/usr/bin/docker rm traccar-postgres
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
