#jinja2: lstrip_blocks: "True"
#!/bin/bash

docker run \
	-it \
	--rm \
	--user={{ traccar_user_uid }}:{{ traccar_user_gid }} \
  --cap-drop=ALL \
	--env-file={{ traccar_postgres_base_path }}/env-postgres-psql \
	--network {{ traccar_docker_network }} \
	{{ traccar_postgres_docker_image_to_use }} \
  psql -h {{ traccar_postgres_connection_hostname }}
