#jinja2: lstrip_blocks: "True"
[Unit]
Description=traccar mailer
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker kill traccar-mailer
ExecStartPre=-/usr/bin/docker rm traccar-mailer

ExecStart=/usr/bin/docker run --rm --name traccar-mailer \
			--log-driver=none \
			--user={{ traccar_mailer_container_user_uid }}:{{ traccar_mailer_container_user_gid }} \
			--read-only \
			--cap-drop=ALL \
			--tmpfs=/var/spool/exim:rw,noexec,nosuid,size=100m \
			--env-file={{ traccar_mailer_base_path }}/env-mailer \
			--network={{ traccar_docker_network }} \
			--hostname={{ traccar_sub_domain }}.{{ traccar_base_domain }} \
			{{ traccar_mailer_docker_image }}

ExecStop=-/usr/bin/docker kill traccar-mailer
ExecStop=-/usr/bin/docker rm traccar-mailer
Restart=always
RestartSec=30
SyslogIdentifier=traccar-mailer

[Install]
WantedBy=multi-user.target
