#jinja2: lstrip_blocks: "True"
#!/bin/bash

if [ "$(id -u)" != "0" ]; then
	echo "This script must be executed as root! Aborting."
	exit 1
fi

echo "WARNING! You are about to remove everything the playbook installs: traccar, docker images,..."
echo -n "If you're sure you want to do this, type: 'Yes, I really want to remove everything!'"
read sure

if [ "$sure" != "Yes, I really want to remove everything!" ]; then
	echo "Good thing I asked, exiting"
	exit 0
else
	echo "Stop and remove traccar services"
	for s in $(find /etc/systemd/system/ -name "traccar-*" -printf "%f\n"); do
		systemctl stop $s
		rm -f /etc/systemd/system/$s
	done
	systemctl daemon-reload
	echo "Remove traccar scripts"
	find /usr/local/bin/ -name "traccar-*" -delete
	echo "Remove all docker images"
	docker rmi $(docker images -aq)
	echo "Remove docker traccar network"
	docker network rm {{ traccar_docker_network }}
	echo "Remove {{ traccar_base_data_path }} directory"
	rm -fr "{{ traccar_base_data_path }}"
	exit 0
fi
